[Unit]
Description=Server of encrypted passwords to Mandos clients
Documentation=man:intro(8mandos) man:mandos(8)

[Service]
BusName=se.recompile.Mandos
ExecStart=/usr/sbin/mandos --foreground
Restart=always
KillMode=mixed
## Using socket activation won't work, because systemd always does
## bind() on the socket, and also won't announce the ZeroConf service.
#ExecStart=/usr/sbin/mandos --foreground --socket=0
#StandardInput=socket

[Install]
WantedBy=multi-user.target
