#! /bin/sh
#
# config	Mandos Debconf configuration.
#

# Source debconf library.
. /usr/share/debconf/confmodule
if ! db_version 2.0; then
    echo "mandos.config: need DebConf 2.0 or later"
    exit 1
fi

set -e
umask 022

# Now, interaction.  Batch it in case any front ends can use this.
db_beginblock

# If this is a first time install then prompt 
if [ "$1" = "configure" -a "$2" != "" ]; then
	db_input high mandos/not-yet-configured || true
fi

db_endblock
db_go || true

exit 0
